[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "==8.0.0rc1"
jsonpickle = "~=2.0"
networkx = "~=2.5"
numpy = "~=1.20"
pdfplumber = "~=0.5"
ocrmypdf = "~=12.0"
pyside6 = "~=6.0"
python-magic = "~=0.4"
sortedcontainers = "~=2.3"
stanza = "~=1.2"
tqdm = "~=4.60"

[dev-packages]
build = "~=0.3"
coverage = "~=5.4"
flake8 = "~=3.7"
fpdf2 = "~=2.3"
pytest = "~=6.2"
tox = "~=3.14"
tox-gh-actions = "~=2.4"
twine = "~=3.3"
