[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "~=7.0"
lxml = "~=4.6"
more-itertools = "~=8.7"
networkx = "~=2.5"
numpy = "~=1.20"
pdfplumber = "~=0.5"
pyside6 = "~=6.0"
python-magic = "~=0.4"
sortedcontainers = "~=2.3"
stanza = "~=1.2"

[dev-packages]
build = "~=0.3"
coverage = "~=5.4"
flake8 = "~=3.7"
fpdf2 = "~=2.3"
pytest = "~=6.2"
pystemmer = "~=2.0"
tox = "~=3.14"
tox-gh-actions = "~=2.4"
twine = "~=3.3"
